/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

main {
    height: calc(100% - 100px);
    width: 100%;
    overflow: hidden;
    
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: black;
    float: left;
    font-size: 70%;
}

.sidebar a {
    color: #a3a3a3;
    text-decoration: none;
}
.content {
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    float: left;
}

.sidebar li{
    list-style: none;
    margin-left: 10%;
    margin-top: 3%;
}
.sidebar h3 {
    margin-left: 10%;
    margin-top: 5%;
    color: white;
}

.sidebar-logo {
    height: 100px;
    width: 100%;
}
.sidebar-logo img {
    height: 70%;
    width: 70%;
    margin-left: 10%;
    margin-top: 10%;
}
.sidebar-top {
    height: calc(100% - 200px);
    min-height: 200px;
    width: 100%;
}
.sidebar-bottom {
    height: 100px;
    width: 100%;
    margin-left: 10%;
    margin-top: 3%;
}
.sidebar-bottom hr {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.list-btn {
    color:#080b12;
    height: 30px;
    width: 30px;
    font-size: 200%;
    background-color: #a3a3a3;
    border-style: none;
}
/*sidebar*/

/* content */
.content {
    overflow: hidden;
}
nav {
    height: 80px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-btn {
    height: 50%;
    width: 15%;
    border-color: white;
    color: white;
    background-color: #080b12;
    border-radius: 20px;
    font-size: 70%;
}

footer {
    background-color: #282828;
    height: 100px;
    width: 100%;
    
    
}





