/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
a {text-decoration: none;
    color: white;
}
ul {list-style: none;}

.white {
    color: white;
}
.container {
    height: 100vh;
    width: 100%;
    min-width: 560px;
}

main {
    height: calc(100% - 100px);
    width: 100%;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: black;
    float: left;
    font-size: 70%;
}

.sidebar a {
    color: #a3a3a3;
    text-decoration: none;
}
.content {
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    float: left;
}
#active {
    border-left: 3px solid yellowgreen ;
    padding-left: 10%;
}
.sidebar li{
    list-style: none;
    margin-top: 5%;
    padding-left: 10%;
    border-left: 3px solid black ;  
}

.sidebar h3 {
    margin-left: 10%;
    margin-top: 5%;
    color: white;
    text-transform: uppercase;
}

.sidebar-logo {
    height: 100px;
    width: 100%;
}
.sidebar-logo img {
    height: 70%;
    width: 70%;
    margin-left: 10%;
    margin-top: 10%;
}
.sidebar-top {
    height: calc(100% - 200px);
    min-height: 90px;
    width: 100%;
    overflow: hidden;
}
.sidebar-top span{
    vertical-align: middle;
}
.list-img {
    height: 20px;
    vertical-align: middle;
} 
.sidebar-bottom {
    height: 100px;
    width: 100%;
    margin-top: 10%;
    font-size: 120%;
    padding-top: 2%;
}

.radius {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #a3a3a3;
    overflow: hidden;
    vertical-align: middle;
    float: left;
    margin-left: 10%;
}
    
.user span {
    margin-left: 2%;
    font-size: 130%;
    color: white;
    
}
.sidebar-bottom hr {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
}
.list-btn {
    color:#080b12;
    height: 30px;
    width: 30px;
    font-size: 200%;
    background-color: #a3a3a3;
    border-style: none;
}
.sidebar li:hover a {
    color: white;
}
.sidebar li:hover .list-btn {
    color: white;
}
.img-600 {
    display: none;
    }
@media screen and (max-width:600px) {
    .sidebar {
        width: 40px;
        padding-left: 5px;
    }
    .content {
        width: calc(100% - 40px);
    }
    nav {
        min-width: calc(100% - 40px)
        
    }
    .sidebar-logo,
    .sidebar span,
    .list2,
    .sidebar-bottom span,
    .sidebar-bottom hr {
        display: none;
    }
    .sidebar-bottom {
        margin-top: 100px;
    }
    .sidebar-bottom i {
        padding-left: 10%;
    }
    .img-600 {
        display: inline-block;
        height: 30px;
        width: 30px;
        padding-top: 5px;
    }
   #active {
       padding-top: 10px;
       border-left: black 5px;
   }
}
    
/*sidebar*/

/* content */
.content {
    overflow-y: auto;
}
    /* Nav */
nav {
    height: 80px;
    width: calc(100% - 200px);
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
}

#btn {
    height: 40px;
    width: 200px;
    border-color: white;
    color: white;
    background-color: #080b12;
    border-radius: 20px;
    font-size: 70%;
    margin-right: 3%;
}

#nav-btn:hover #btn {
    height: 45px;
    width: 210px;
}
   /* /Nav */

   /* Central */
#content-list {
    height: 30px;
    width: 100%;
    text-align: center;
}
#content-list li:hover {
    color: white;
}

#content-list li {
    display: inline-block;
    color: #a3a3a3;
    font-size: 60%;
    padding-left: 2%;
    margin-top: 1%;
}

.row-title {
    width: 100%;
    color: white;
    padding-left: 30px;
    padding-top: 3%;
    padding-bottom: 2%;
}
.row-title p{
    font-size: 60%;
    color: #a3a3a3;
}
.row {
     width: 100%;
     padding-left: 2%;
}
.row div {
    height:100%;
    width: calc(100% / 6);
    float: left; 
    color: white;
    text-align: center;
}
.central {
    padding-top: 80px;
}
.content-img {
    height: 90%;
    width: 90%;
    object-fit: contain;
}
.active-content {
    border-bottom: yellowgreen 2px solid;
    padding-bottom: 0.5%;
    max-width: 40%;
    margin: 0 auto;
    padding-top: 5%;
}
.content-img:hover {
    opacity: 65%;
    display: inline-block;
}
.play {
    display: none;
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 400%;
}

.row h4 {
    font-size: 1rem;
    padding-top: .5rem;   
}

.row p {
    font-size: 60%;
    color: #a3a3a3;
    padding-bottom: 1rem;
}
.circle {
    height: 69%;
    border-radius: 100%; 
}
    /* Central */
@media screen and (max-width:1100px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .row div{
        width: calc(100% / 4);
    }     
}
  
@media screen and (max-width:700px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .row div{
        width: calc(100% / 2);
    }   
    .content-img {
        height: 70%;
        width: 90%;  
    }
}
/* /Content */

/* footer */
footer {
    background-color: #282828;
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;  
}

.album {
    width: 350px;
    display: flex;
    height: 100%;
}
.album img { 
    width: 50px;
}
#album-cover {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#album-title {
    width: 100px;
    padding-top: 30px; 
}
#album-title p {
    font-size: 80%;
    color: #a3a3a3;
}

#album-icons {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#album-icons div {
    padding-left: 10%;
}
#album-icons div:hover i{
    color: white;
}
#album-icons i {
    color: #a3a3a3;
    margin-left: 10%;
}

.player {
    height: 100%;
    min-width: 200px;
    width: calc(100% - 600px);
}

.player-icon {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
    color: white;
    padding-right: 5%;
}
.player-icon div{
    padding-left: 5%;
    
}
#play-btn {
    font-size: 180%;
}

.player-bar {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    border-top: solid 4px #a3a3a3;
}

.right-player {
    height: 100%;
    min-width: 150px;
    width: 350px;
    display: flex;
}
.rp-icon {
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: flex-end;
}
.rp-icon div {
    padding-right: 5%;
}
.rp-bar {
    height: 50%;
    width: 150px;
    border-bottom: #a3a3a3 solid 4px;
}
/* /Footer */

