/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

main {
    height: 100vh;
    width: 100vw;
}

.container {
    height: calc(100% - 100px);
    width: 100%;
    
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: black;
    float: left;
}

.content {
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    float: left;
}

.sidebar-logo {
    height: 20%;
    width: 100%;
}
.sidebar-logo img {
    height: 70%;
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
}
.sidebar-top {
    height: calc(80% - 100px);
    min-height: 200px;
    width: 100%;
}
.sidebar-bottom {
    height: 100px;
    width: 100%;
}
/*sidebar*/

/* content */
.content {
    overflow: auto;
}
nav {
    height: 80px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-btn {
    height: 50%;
    width: 15%;
    border-color: white;
    color: white;
    background-color: #080b12;
    border-radius: 20px;
    font-size: 70%;
}

footer {
    background-color: #282828;
    height: 100px;
    width: 100%;
    
    
}





/*.sidebar a {
    color: #a3a3a3;
    text-decoration: none;
}
.logo {
    width: 70%;
    margin-top: 10%;
    margin-left: 5%;
}
.list {
    list-style: none;
    margin-top: 10%;
    margin-left: 5%;
}
.list h3 {
    color: white;
    margin-bottom: 5%;
}

.list-btn {
    width: 30px;
    height: 30px;
    font-size: 150%;
    color: #a3a3a3;
    color: #000000;
    border-style: none;
    
}

#side-end {
    display: flex;
    align-items: flex-end;
}
.sidebar li:hover a {
    color: white;
}

li {
    margin-bottom: 5%;
}
/* /Sidebar */

/*n
nav {
    height: 60px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#btn {
    height: 50%;
    width: 15%;
    border-color: white;
    color: white;
    background-color: #080b12;
    border-radius: 20px;
    font-size: 70%;
}

.nav-btn:hover #btn {
    height: 60%;
    width: 20%;
}
/* /nav
main {
    height: calc(100vh - 70px);
    width: 85%;
    background-color: #141922;
    overflow: scroll;
    overflow-x: hidden;
}



footer {
    width: 100%;
    height: 70px;
    background-color: #282828;
}



